DATABASE_HOST=10.10.1.21
DATABASE_PORT=5432
DATABASE_USER={{ DATABASE_USER }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
DATABASE_NAME={{ DATABASE_NAME }}

RABBITMQ_HOST=10.10.1.16
RABBITMQ_PORT=5672
RABBITMQ_USER={{ RABBITMQ_USER }}
RABBITMQ_PASSWORD={{ RABBITMQ_PASSWORD }}
RABBITMQ_VHOST=Prod

