upstream php-upstream {
  server {{ REPO_NAME }}-php:9000;
}

server {
  listen {{ app_port[PROJECT_NAME] }};
  root /app/public;
  index index.php;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    fastcgi_pass php-upstream;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS           off;
    fastcgi_param  QUERY_STRING   $query_string;
    fastcgi_param  REQUEST_METHOD $request_method;
    fastcgi_param  CONTENT_TYPE   $content_type;
    fastcgi_param  CONTENT_LENGTH $content_length;
    fastcgi_intercept_errors      on;
    fastcgi_ignore_client_abort   off;
  }

    error_log /var/log/nginx/yesfs-exbico.error.log;
    access_log /var/log/nginx/yesfs-exbico.access.log;
}