version: "2.4"
services:
    yesfs-app:
        container_name: {{ REPO_NAME }}-php
        image: yesfs/{{ REPO_NAME }}-php:{{ PROJECT_NAME }}.{{ BITBUCKET_BRANCH }}.{{ BITBUCKET_BUILD_NUMBER }}
        env_file:
          - .env
        restart: on-failure
    yesfs-nginx:
        container_name: {{ REPO_NAME }}-nginx
        image: yesfs/{{ REPO_NAME }}-nginx:{{ PROJECT_NAME }}.{{ BITBUCKET_BRANCH }}.{{ BITBUCKET_BUILD_NUMBER }}
        volumes:
          - /srv/{{ PROJECT_NAME }}/app.conf:/etc/nginx/conf.d/app.conf
        ports:
          - "{{ app_port[PROJECT_NAME] }}:{{ app_port[PROJECT_NAME] }}"
        depends_on:
            - "yesfs-app"
        restart: on-failure
networks:
  default:
    external:
      name: yesfs_app_net
