version: "3.7"
services:
    yesfs-app:
        image: yesfs/{{ REPO_NAME }}:{{ PROJECT_NAME }}.{{ BITBUCKET_BRANCH }}.{{ BITBUCKET_BUILD_NUMBER }}
        restart: on-failure
    yesfs-nginx:
        image: nginx:latest
        volumes:
          - /srv/{{ PROJECT_NAME }}/nginx.conf:/etc/nginx/nginx.conf
        ports:
          - "{{ app_port[PROJECT_NAME] }}:{{ app_port[PROJECT_NAME] }}"
        depends_on:
            - "yesfs-app"
        restart: on-failure
networks:
  default:
    external:
      name: yesfs_app_net
