events { worker_connections 1024; }

http {
    sendfile on;
    client_max_body_size 1024M;

    upstream app_servers {
        server yesfs-app:{{ app_port[PROJECT_NAME] }};
    }

    server {
    listen {{ app_port[PROJECT_NAME] }};
    location / {
        proxy_pass         http://app_servers;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection keep-alive;
        proxy_set_header   Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
      }
    }
}